<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller='NarrowItDownController as narrow'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model='narrow.searchTerm'>
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click='narrow.getResults()'>Narrow It Down For Me!</button>
    </div>
    <!-- Bonus loader (see Bonus section of the assignment) -->
    <items-loader-indicator></items-loader-indicator>
    <table class='table table-striped table-bordered table-hover'>
      <tr>
        <th>Short Name</th>
        <th>Name</th>
        <th>Description</th>
        <th>Choice</th>
      </tr>
      <tr ng-repeat='item in narrow.items'>
        <td>{{ item.name }}</td>
        <td>{{ item.short_name }}</td>
        <td>{{ item.description }}</td>
        <td><button class='btn btn-danger' ng-click='narrow.removeItem({index: $index})'>Don't want this one!</button>
      </tr>
    </table>
    <!-- found-items should be implemented as a component -->
    <found-items items="narrow.items" on-remove="narrow.removeItem(index)"></found-items>
    <span class='error'>{{ narrow.errorMsg }}</span>
  </div>
<script src='js/angular.js'></script>
<script src='js/app.js'></script>
</body>
</html>
